<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- belle/checkout.html   11 Nov 2019 12:44:33 GMT -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>men's made</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="user_assets/images/favicon.png" />
    <!-- Bootstap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="user_assets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="user_assets/css/style.css">
    <link rel="stylesheet" href="user_assets/css/responsive.css">
</head>

<body class="page-template belle">
    <div class="pageWrapper">
        <!--Search Form Drawer-->
        <div class="search">
            <div class="search__form">
                <form class="search-bar__form" action="#">
                    <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                    <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..."
                        aria-label="Search" autocomplete="off">
                </form>
                <button type="button" class="search-trigger close-btn"><i class="icon anm anm-times-l"></i></button>
            </div>
        </div>
        <!--End Search Form Drawer-->
        <!--Top Header-->
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-10 col-sm-8 col-md-5 col-lg-4">
                        <p class="phone-no"><i class="anm anm-phone-s"></i> +440 0(111) 044 833</p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
                        <div class="text-center">
                            <p class="top-header_middle-text"> Worldwide Express Shipping</p>
                        </div>
                    </div>
                    <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                        <span class="user-menu d-block d-lg-none"><i class="anm anm-user-al"
                                aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <!--End Top Header-->
        <!--Header-->
        <div class="header-wrap animated d-flex">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!--Desktop Logo-->
                    <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                        <a href="index.html">
                            <img src="user_assets/images/website3.png" alt="Belle Multipurpose Html Template"
                                title="Belle Multipurpose Html Template" />
                        </a>
                    </div>
                    <!--End Desktop Logo-->
                    <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                        <div class="d-block d-lg-none">
                            <button type="button"
                                class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                                <i class="icon anm anm-times-l"></i>
                                <i class="anm anm-bars-r"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                        <div class="logo">
                            <a href="index.html">
                                <img src="user_assets/images/logo.svg" alt="Belle Multipurpose Html Template"
                                    title="Belle Multipurpose Html Template" />
                            </a>
                        </div>
                    </div>
                    <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                        <div class="site-cart">
                            <a href="/cartPage" class="site-header__cart" title="Cart">
                                <i class="icon anm anm-bag-l"></i>
                            </a>
                        </div>
                        <div class="site-header__search">
                            <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header-->
        <!--Body Content-->
        <div id="page-content">
            <!--Page Title-->
            <div class="page section-header text-center">
                <div class="page-title">
                    <div class="wrapper">
                        <h1 class="page-width">Checkout</h1>
                    </div>
                </div>
            </div>
            <!--End Page Title-->

            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                        <div class="customer-box returning-customer">
                            <h3><i class="icon anm anm-user-al"></i> ADDRESSES </h3>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                        <div class="customer-box customer-coupon">
                            <h3 class="font-15 xs-font-13"><i class="icon anm anm-gift-l"></i> ORDER DETAILS </h3>
                        </div>
                    </div>
                </div>

                <div class="row billing-fields">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 sm-margin-30px-bottom">
                        <div class="create-ac-content bg-light-gray padding-20px-all">
                            <form>
                                <div class="row p-30">
                                    <% for (let i=0; i < userAddress.length; i++) { %>
                                        <div class="col-lg-6">
                                            <div class="card mb-3 mb-lg-0">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <%= userAddress[i].locationType %>
                                                    </h5>
                                                </div>
                                                <div class="card-body">
                                                    <p style="font-weight: bold;">
                                                        <%= userAddress[i].name %>
                                                    </p>
                                                    <address>
                                                        <%= userAddress[i].address %>, <br>
                                                            <%= userAddress[i].locality %>,<br>
                                                                <%= userAddress[i].district %>, <br>
                                                                    <%= userAddress[i].alternativeNumber %>, <br>
                                                                        <%= userAddress[i].pinCode %>
                                                    </address>
                                                    <p>
                                                        <%= userAddress[i].state %>
                                                    </p>
                                                    <input type="radio" name="selectedAddress"
                                                        value="<%= userAddress[i]._id %>" <%=i===0 ? 'checked' : '' %>>
                                                    <br>
                                                    <a href="/editAddress?id=<%= userAddress[i]._id %>&source=checkout"
                                                        class="btn-small"><strong>Edit</strong></a>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                            </form>
                            <br>
                            <div>
                                <a href="/addAddress?source=checkout" class="btn mt-10">ADD Address</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="your-order-payment">
                            <div class="your-order">
                                <h2 class="order-title mb-4">Your Order</h2>
                                <div class="table-responsive-sm order-table">
                                    <table class="bg-white table table-bordered table-hover text-center">
                                        <thead>
                                            <tr>
                                                <th class="text-left">Product</th>
                                                <th>ProductName</th>
                                                <th>Price</th>
                                                <th>OfferPrice</th>
                                                <th>Qty</th>
                                                <th>Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (cartProduct && cartProduct.items && cartProduct.items.length> 0) { %>
                                                <% cartProduct.items.forEach(item=> { %>
                                                    <tr class="cart__row border-bottom line1 cart-flex border-top">
                                                        <td class="cart__image-wrapper cart-flex-item">
                                                            <a href="#"><img class="cart__image"
                                                                    src="/product_Assets/<%= item.product.images[0] %>"
                                                                    alt="<%= item.product.pname %>"></a>
                                                        </td>
                                                        <td class="cart__meta small--text-left cart-flex-item">
                                                            <div class="list-view-item__title">
                                                                <a href="#">
                                                                    <%= item.product.productname %>
                                                                </a>
                                                            </div>
                                                            <div class="cart__meta-text">
                                                                <br>Size: <%= item.size %><br>
                                                            </div>
                                                        </td>
                                                        <td class="cart__price-wrapper cart-flex-item">
                                                            <span class="money">₹
                                                                <%= item.product.price.toFixed(2) %>
                                                            </span>
                                                        </td>
                                                        <td class="cart__price-wrapper cart-flex-item">
                                                            <span class="money"> ₹
                                                                <%= item.product.offerPrice
                                                                    !==undefined?item.product.offerPrice.toFixed(2):0 %>

                                                            </span>
                                                        </td>
                                                        <td class="cart__update-wrapper cart-flex-item text-right">
                                                            <div class="cart__qty text-center">
                                                                <div class="qtyField">
                                                                    <input class="cart__qty-input qty" type="text"
                                                                        name="updates[]" id="qty"
                                                                        value="<%= item.quantity %>" pattern="[0-9]*">
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="text-right small--hide cart-price">
                                                            <div><span class="money">₹ <%= item.subTotal.toFixed(2) %>
                                                                </span></div>
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                                        <% } else { %>
                                                            <tr>
                                                                <td colspan="6" class="text-center">No items in cart
                                                                </td>
                                                            </tr>
                                                            <% } %>
                                        </tbody>
                                        <tfoot class="font-weight-600">
                                            <tr>
                                                <td colspan="5" class="text-right">coupon applied</td>
                                                <td><span id="couponApplied">₹ 0</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" class="text-right">Total</td>
                                                <td><span id="totalAmount">₹ <%= cartProduct.total.toFixed(2) %></span>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                            <div class="mt-4">
                                <div>
                                    <h5>Discount Codes</h5>
                                    <div style="margin-bottom: 10px;">
                                        <label>Enter your coupon code if you have one.</label>
                                        <div class="row align-items-center">
                                            <div class="col-4">
                                                <input type="text" name="coupon" id="couponId" class="form-control"
                                                    style="width: 190px; border-radius: 0; ">
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-dark" id="applyCoupon"
                                                    onclick="applyCoupon('<%=cartProduct._id%>')">Apply</button>
                                                <button id="removeCoupon" style="display: none;" class="btn btn-dark"
                                                    onclick="removeCoupon('<%=cartProduct._id%>')">remove</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="actionRow">
                                        <button id="openModalButton" class="btn btn-dark">
                                            Available Coupons
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="your-payment">
                                <h2 class="payment-title mb-3">Payment Method</h2>
                                <div class="payment-options">
                                    <%if(cartProduct.total>= 3000){%>
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" name="selectedPayment"
                                                id="CashOnDelivery" value="Disabled" class="disabled-input" style="width: 20px; height: 20px;   pointer-events: none;
                                                                             opacity: 0.5;">
                                            <label class="form-check-label" for="CashOnDelivery"
                                                style="margin-left: 10px; vertical-align: middle; color:red; pointer-events: none;">
                                                Cash on Delivery not available above 3000 ₹
                                            </label>
                                        </div>
                                        <% }else{ %>
                                            <div class="form-check mb-2" style="display: block;">
                                                <input class="form-check-input" type="radio" name="selectedPayment"
                                                    id="CashOnDelivery" value="cod"
                                                    style="width: 20px; height: 20px; visibility: visible; opacity: 1;">
                                                <label class="form-check-label" for="CashOnDelivery"
                                                    style="margin-left: 10px; vertical-align: middle;">
                                                    Cash on Delivery
                                                </label>
                                            </div>
                                            <% } %>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="selectedPayment"
                                                        id="onlinePayment" value="online"
                                                        style="width: 20px; height: 20px; visibility: visible; opacity: 1;">
                                                    <label class="form-check-label" for="onlinePayment"
                                                        style="margin-left: 10px; vertical-align: middle;">
                                                        Online Payment
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="selectedPayment"
                                                        id="walletPayment" value="walletPay"
                                                        style="width: 20px; height: 20px; visibility: visible; opacity: 1;">
                                                    <label class="form-check-label" for="onlinePayment"
                                                        style="margin-left: 10px; vertical-align: middle;">
                                                        Wallet Pay
                                                    </label>
                                                </div>
                                </div>
                            </div>
                            <div class="order-button-payment">
                                <button class="btn btn-primary" id="placeOrderButton" type="button">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--End Body Content-->

        <!--Footer-->
        <footer id="footer">
            <div class="newsletter-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div
                            class="col-12 col-sm-12 col-md-12 col-lg-5 d-flex justify-content-center align-items-center">
                            <div class="footer-social">
                                <ul class="list--inline site-footer__social-icons social-icons">
                                    <li><a class="social-icons__link" href="#" target="_blank"
                                            title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i
                                                class="icon icon-facebook"></i></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank"
                                            title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i
                                                class="icon icon-twitter"></i> <span
                                                class="icon__fallback-text">Twitter</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank"
                                            title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i
                                                class="icon icon-pinterest"></i> <span
                                                class="icon__fallback-text">Pinterest</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank"
                                            title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i
                                                class="icon icon-instagram"></i> <span
                                                class="icon__fallback-text">Instagram</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank"
                                            title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i
                                                class="icon icon-tumblr-alt"></i> <span
                                                class="icon__fallback-text">Tumblr</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank"
                                            title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i
                                                class="icon icon-youtube"></i> <span
                                                class="icon__fallback-text">YouTube</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank"
                                            title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i
                                                class="icon icon-vimeo-alt"></i> <span
                                                class="icon__fallback-text">Vimeo</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer">
                <div class="container">
                    <!--Footer Links-->
                    <div class="footer-top">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Quick Shop</h4>
                                <ul>

                                    <li><a href="#">Men</a></li>

                                    <li><a href="#">Sale</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Informations</h4>
                                <ul>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Privacy policy</a></li>
                                    <li><a href="#">Terms &amp; condition</a></li>
                                    <li><a href="#">My Account</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Customer Services</h4>
                                <ul>
                                    <li><a href="#">Request Personal Data</a></li>
                                    <li><a href="#">FAQ's</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Orders and Returns</a></li>
                                    <li><a href="#">Support Center</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                                <h4 class="h4">Contact Us</h4>
                                <ul class="addressFooter">
                                    <li><i class="icon anm anm-map-marker-al"></i>
                                        <p>55 Gallaxy Enque,<br>2568 steet, 23568 NY</p>
                                    </li>
                                    <li class="phone"><i class="icon anm anm-phone-s"></i>
                                        <p>(440) 000 000 0000</p>
                                    </li>
                                    <li class="email"><i class="icon anm anm-envelope-l"></i>
                                        <p>sales@yousite.com</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Footer Links-->
                    <hr>
                    <div class="footer-bottom">
                        <div class="row">
                            <!--Footer Copyright-->
                            <div
                                class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left">
                                <span></span> <a href="templateshub.net">Templates Hub</a>
                            </div>
                            <!--End Footer Copyright-->
                            <!--Footer Payment Icon-->
                            <div
                                class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                                <ul class="payment-icons list--inline">
                                    <li><i class="icon fa fa-cc-visa" aria-hidden="true"></i></li>
                                    <li><i class="icon fa fa-cc-mastercard" aria-hidden="true"></i></li>
                                    <li><i class="icon fa fa-cc-discover" aria-hidden="true"></i></li>
                                    <li><i class="icon fa fa-cc-paypal" aria-hidden="true"></i></li>
                                    <li><i class="icon fa fa-cc-amex" aria-hidden="true"></i></li>
                                    <li><i class="icon fa fa-credit-card" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <!--End Footer Payment Icon-->
                        </div>
                    </div>
                </div>
            </div>
            <div id="couponModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Available Coupons</h5>
                        </div>
                        <div class="modal-body" style="max-height: 400px; overflow-y: scroll;">

                            <div class="mb-3">
                                <ul class="list-group">
                                    <% coupons.forEach((coupon)=>{ %>
                                        <li class="list-group-item">
                                            <strong>Coupon ID:</strong>
                                            <%=coupon.couponId%><br>
                                                <strong>Description:</strong>
                                                <%=coupon.description%><br>
                                                    <strong> Discount:</strong>
                                                    <%=coupon.maximumDiscount%>₹<br>
                                                        <strong>Expiry Date:</strong>
                                                        <%=coupon.expireDate.toDateString()%><br>
                                                            <div class="d-flex justify-content-end">
                                                                <button type="button" class="btn btn-primary mt-2"
                                                                    onclick="copyCoupon('<%= coupon.couponId %>')">copy
                                                                </button>
                                                            </div>
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                id="closeModalButton">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Footer-->
        <!--Scoll Top-->
        <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
        <!--End Scoll Top-->

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Popper.js -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- SweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Razorpay -->
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

        <!-- Other vendor scripts -->
        <script src="user_assets/js/vendor/jquery.cookie.js"></script>
        <script src="user_assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="user_assets/js/vendor/wow.min.js"></script>

        <!-- Custom scripts -->
        <script src="user_assets/js/plugins.js"></script>
        <script src="user_assets/js/lazysizes.js"></script>
        <script src="user_assets/js/main.js"></script>
        <script>

            document.getElementById('openModalButton').addEventListener('click', function () {
                var myModal = new bootstrap.Modal(document.getElementById('couponModal'));
                myModal.show();
            });

            function closeModal() {
                var myModal = bootstrap.Modal.getInstance(document.getElementById('couponModal'));
                if (myModal) {
                    myModal.hide();
                }
            }

            document.getElementById('closeModalButton').addEventListener('click', closeModal);
        </script>
        <script>
            $(document).ready(function () {
                $('#placeOrderButton').click(function () {
                    const selectedAddress = $('input[name="selectedAddress"]:checked');
                    const selectedPayment = $('input[name="selectedPayment"]:checked');

                    console.log('Selected Address:', selectedAddress.val());
                    console.log('Selected Payment:', selectedPayment.val());

                    if (selectedAddress.length === 0 && selectedPayment.length === 0) {
                        Swal.fire({
                            title: 'Error',
                            text: "Please select an address and a payment method",
                            icon: 'error',
                            timer: 2000
                        });
                    } else if (selectedAddress.length === 0) {
                        Swal.fire({
                            title: 'Error',
                            text: 'Please select an address',
                            icon: 'error',
                            timer: 2000
                        });
                    } else if (selectedPayment.length === 0) {
                        Swal.fire({
                            title: 'Error',
                            text: 'Please select a payment method',
                            icon: 'error',
                            timer: 2000
                        });
                    } else {
                        const cartId = "<%= cartProduct._id %>";
                        const userData = "<%= JSON.stringify(userData) %>";
                        const couponCode = document.getElementById('couponId').value;


                        if (selectedPayment.val() === 'cod') {
                            $.ajax({
                                url: "/placeOrder",
                                method: "POST",
                                data: {
                                    userId: userData._id,
                                    cartId: cartId,
                                    addressId: selectedAddress.val(),
                                    paymentOption: 'cod',
                                    couponId: couponCode
                                },
                                success: function (response) {
                                    Swal.fire({
                                        title: 'Success',
                                        text: 'Your order has been placed successfully',
                                        icon: 'success',
                                        timer: 2000
                                    }).then(() => {
                                        window.location.href = "/orderSuccess?orderId=" + response.orderId;
                                    });
                                },
                                error: function (xhr, status, error) {
                                    Swal.fire({
                                        title: 'Error',
                                        text: 'An error occurred while placing the order',
                                        icon: 'error',
                                        timer: 2000
                                    });
                                }
                            });
                        } else if (selectedPayment.val() === 'online') {
                            $.ajax({
                                url: "/onlinePay",
                                method: 'POST',
                                data: {
                                    userId: userData._id,
                                    cartId: cartId,
                                    addressId: selectedAddress.val(),
                                    paymentOption: 'online'
                                },
                                success: (response) => {
                                    let orderId = response.order.id
                                    let address = response.addressId


                                    var options = {
                                        "key": "rzp_test_gkhwXaFRx7sRf0", // Enter the Key ID generated from the Dashboard
                                        "amount": response.order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                        "currency": "INR",
                                        "name": "Acme Corp",
                                        "description": "Test Transaction",
                                        "image": "https://example.com/your_logo",
                                        "order_id": orderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                                        "handler": function (response) {
                                            // alert(response.razorpay_payment_id);
                                            // alert(response.razorpay_order_id);
                                            // alert(response.razorpay_signature)

                                            verifyOrder(address, response)
                                        },
                                        "prefill": {
                                            "name": "Gaurav Kumar",
                                            "email": "gaurav.kumar@example.com",
                                            "contact": "9000090000"
                                        },
                                        "notes": {
                                            "address": "Razorpay Corporate Office"
                                        },
                                        "theme": {
                                            "color": "#3399cc"
                                        }
                                    };
                                    var rzp1 = new Razorpay(options);
                                    rzp1.on('payment.failed', async function () {
                                        const couponId = document.getElementById('couponId').value;
                                        const selectedPayment = $('input[name="selectedPayment"]:checked');
                                        try {
                                            const response = await fetch('/paymentFailure', {
                                                method: 'POST',
                                                headers: {
                                                    'content-Type': 'application/JSON'
                                                },
                                                body: JSON.stringify({
                                                    addressId: address,
                                                    paymentOption: selectedPayment.val(),
                                                    couponCode: couponId
                                                })
                                            })
                                            if (response.ok) {
                                                const data = await response.json();
                                                Swal.fire({
                                                    title: 'failed',
                                                    text: 'Your order failed',
                                                    icon: 'error',
                                                    timer: 2000
                                                }).then(() => {
                                                    window.location.href = "/orderFailed?orderId="+ data.orderId;
                                                });
                                            }
                                        } catch (error) {

                                        }

                                    });

                                    rzp1.open();




                                }
                            })
                        } else if (selectedPayment.val() === 'walletPay') {
                            $.ajax({
                                url: '/walletPayment',
                                method: 'POST',
                                data: {
                                    userId: userData._id,
                                    cartId: cartId,
                                    addressId: selectedAddress.val(),
                                    paymentOption: 'walletPay'
                                },
                                success: function (response) {
                                    Swal.fire({
                                        title: 'Success',
                                        text: 'Your order has been placed successfully',
                                        icon: 'success',
                                        timer: 2000
                                    }).then(() => {
                                        window.location.href = "/orderSuccess?orderId=" + response.orderId;
                                    });
                                },
                                error: function (xhr, status, error) {
                                    Swal.fire({
                                        title: 'Error',
                                        text: 'Insufficient Balance',
                                        icon: 'error',
                                        timer: 2000
                                    });
                                }
                            })

                        }
                    }
                });
            });

            async function verifyOrder(address, response) {
                try {
                    const couponId = document.getElementById('couponId').value;
                    const selectedPayment = $('input[name="selectedPayment"]:checked');
                    const res = await fetch('/orderVerify', {
                        method: 'POST',
                        headers: {
                            'content-Type': 'application/JSON'
                        },
                        body: JSON.stringify({
                            addressId: address,
                            response: response,
                            paymentOption: selectedPayment.val(),
                            couponCode: couponId
                        })
                    })

                    if (res.ok) {
                        const data = await res.json(); // Extract JSON response
                        Swal.fire({
                            title: 'Success',
                            text: 'Your order has been placed successfully',
                            icon: 'success',
                            timer: 2000
                        }).then(() => {
                            // Redirect with orderId as a query parameter
                            window.location.href = "/orderSuccess?orderId=" + data.orderId;
                        });
                    } else {
                        console.log('Order verification failed.');
                    }
                } catch (error) {

                    console.log(error.message);

                }
            }

        </script>
        <script>
            function copyCoupon(couponId) {
                navigator.clipboard.writeText(couponId)
                    .then(() => {
                        Swal.fire({
                            icon: 'success',
                            text: 'Coupon copied'
                        });
                        setTimeout(closeModal, 2000);
                    })
                    .catch(err => {
                        console.error('Failed to copy: ', err);
                        Swal.fire({
                            icon: 'error',
                            text: 'Failed to copy coupon'
                        });
                    });
            }
        </script>
        <script>
            async function applyCoupon(cartId) {
                try {
                    const couponId = document.getElementById('couponId').value;

                    const response = await fetch('/addCoupon', {
                        method: 'POST',
                        headers: {
                            'content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            couponId: couponId,
                            cartId: cartId
                        })
                    })
                    if (response.ok) {
                        response.json().then(data => {
                            Swal.fire({
                                icon: 'success',
                                title: 'success',
                                text: 'Coupon is added',
                                timer: 2000
                            })
                            const total = document.getElementById('totalAmount');
                            total.innerText = data.total.toFixed(2);
                            const apply = document.getElementById('applyCoupon');
                            apply.style.display = 'none';
                            const couponId = document.getElementById('couponId');
                            couponId.disabled = true;
                            const remove = document.getElementById('removeCoupon');
                            remove.style.display = 'block';
                            document.getElementById('openModalButton').disabled = true;
                            document.getElementById("couponApplied").innerText = data.couponAmount;


                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'error',
                            text: 'coupon is not available'
                        })
                    }

                } catch (error) {

                    console.log(error)

                }
            }
            async function removeCoupon(cartId) {
                try {

                    const couponId = document.getElementById('couponId').value;

                    const response = await fetch('/removeCoupon', {
                        method: 'POST',
                        headers: {
                            'content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            couponId: couponId,
                            cartId: cartId
                        })
                    })
                    console.log(response);
                    if (response.ok) {
                        response.json().then(data => {
                            Swal.fire({
                                icon: 'success',
                                title: 'success',
                                text: 'Coupon is removed',
                                timer: 2000
                            })
                            const total = document.getElementById('totalAmount');
                            total.innerText = data.total.toFixed(2);
                            const apply = document.getElementById('applyCoupon');
                            apply.style.display = 'block';
                            const couponId = document.getElementById('couponId');
                            couponId.disabled = false;
                            const remove = document.getElementById('removeCoupon');
                            remove.style.display = 'none';
                            document.getElementById('openModalButton').disabled = false;
                            document.getElementById("couponApplied").innerText = 0;

                        })
                    }

                } catch (error) {

                    console.log(error);

                }
            }
        </script>
    </div>
</body>

<!-- belle/checkout.html   11 Nov 2019 12:44:33 GMT -->

</html>